Import Necessary Dependencies

---

In [1]:
import pandas as pd

SAVE_DATA_PATH = "../../data/final/final.csv"

Loading Our Data

---

In [2]:
BASE_DATA_PATH = "../../data/processed/"
MOVIELENS_DATA_PATH = BASE_DATA_PATH + "preprocessed_movielens_data.csv"
TMDB_DATA_PATH = BASE_DATA_PATH + "preprocessed_tmdb_data.csv"

data_movielens = pd.read_csv(MOVIELENS_DATA_PATH)
data_tmdb = pd.read_csv(TMDB_DATA_PATH)

Analysis

---

In [3]:
print("Movielens Data Shape:", data_movielens.shape)
print("TMDB Data Shape:", data_tmdb.shape)

Movielens Data Shape: (73859, 8)
TMDB Data Shape: (141426, 17)

In [4]:
print("Movielens Dataframe : \n", data_movielens.head())
print("TMDB Dataframe : \n", data_tmdb.head())

Movielens Dataframe :
                          title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                              genres  release_year  \
0  ['adventure', 'animation', 'children', 'comedy...        1995.0
1               ['adventure', 'children', 'fantasy']        1995.0
2                              ['comedy', 'romance']        1995.0
3                     ['comedy', 'drama', 'romance']        1995.0
4                                         ['comedy']        1995.0

                                      positive_users  positive_count  \
0  [1, 2, 7, 12, 24, 35, 42, 51, 54, 64, 72, 79, ...           50572
1  [9, 41, 51, 73, 82, 101, 117, 177, 207, 210, 2...           10622
2  [9, 41, 200, 314, 367, 473, 475, 540, 775, 940...            5152
3  [260, 934, 1760, 2051, 2077, 2721, 2722, 2957,...             781
4  [88, 196, 207, 214, 323, 385, 464, 473, 503, 5...            4407

                                      negative_users  negative_count  \
0  [14, 87, 180, 187, 196, 339, 468, 479, 486, 49...            6299
1  [14, 39, 50, 72, 79, 141, 148, 149, 227, 265, ...            6539
2  [73, 149, 190, 285, 477, 562, 677, 889, 974, 1...            3574
3  [347, 1677, 1980, 1997, 2334, 4305, 4730, 4733...            1025
4  [56, 149, 189, 198, 285, 388, 456, 562, 589, 6...            3864

          movie_id
0    862_tt0114709
1   8844_tt0113497
2  15602_tt0113228
3  31357_tt0114885
4  11862_tt0113041
TMDB Dataframe :
              title  vote_average  vote_count    status release_date  \
0        Inception         8.364       34495  Released   2010-07-15
1     Interstellar         8.417       32571  Released   2014-11-05
2  The Dark Knight         8.512       30619  Released   2008-07-16
3           Avatar         7.573       29815  Released   2009-12-15
4     The Avengers         7.710       29166  Released   2012-04-25

      revenue  runtime  adult     budget original_language   original_title  \
0   825532764      148  False  160000000           English        Inception
1   701729206      169  False  165000000           English     Interstellar
2  1004558444      152  False  185000000           English  The Dark Knight
3  2923706026      162  False  237000000           English           Avatar
4  1518815515      143  False  220000000           English     The Avengers

                                            overview  popularity  \
0  Cobb, a skilled thief who commits corporate es...      83.952
1  The adventures of a group of explorers who mak...     140.241
2  Batman raises the stakes in his war on crime. ...     130.643
3  In the 22nd century, a paraplegic Marine is di...      79.932
4  When an unexpected enemy emerges and threatens...      98.082

                        poster_path  \
0  /oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg
1  /gEU2QniE6E77NI6lCU6MxlNBvIx.jpg
2  /qJ2tW6WMUDux911r6m7haRef0WH.jpg
3  /kyeqWdyUXW608qlYkRqosgbbJyK.jpg
4   /RYMX2wcKCBAr24UyPD7xwmjaTn.jpg

                                production_companies  \
0  Legendary Pictures, Syncopy, Warner Bros. Pict...
1  Legendary Pictures, Syncopy, Lynda Obst Produc...
2  DC Comics, Legendary Pictures, Syncopy, Isobel...
3  Dune Entertainment, Lightstorm Entertainment, ...
4                                     Marvel Studios

                                            keywords          movie_id
0  rescue, mission, dream, airplane, paris, franc...   27205_tt1375666
1  rescue, future, spacecraft, race against time,...  157336_tt0816692
2  joker, sadism, chaos, secret identity, crime f...     155_tt0468569
3  future, society, culture clash, space travel, ...   19995_tt0499549
4  new york city, superhero, shield, based on com...   24428_tt0848228

In [5]:
# Sets of movie_ids
movielens_ids = set(data_movielens["movie_id"])
tmdb_ids = set(data_tmdb["movie_id"])
# Intersection
common_ids = movielens_ids & tmdb_ids
print("Number of common movie_ids:", len(common_ids))

Number of common movie_ids: 46650

Basic Cleaning

---

In [6]:
# Drop redundant and unnecessary columns from both datafarames before merging
data_movielens = data_movielens.drop(columns=["release_year"])
data_tmdb = data_tmdb.drop(columns=["title", "original_title", "popularity"])

Data Merging

---

In [7]:
final_data = pd.merge(
    data_movielens,
    data_tmdb,
    on="movie_id",
    how="inner",  # ensures only common movies are kept
)

final_data.head(n=2).T

,0,1
title,Toy Story,Jumanji
genres,"['adventure', 'animation', 'children', 'comedy...","['adventure', 'children', 'fantasy']"
positive_users,"[1, 2, 7, 12, 24, 35, 42, 51, 54, 64, 72, 79, ...","[9, 41, 51, 73, 82, 101, 117, 177, 207, 210, 2..."
positive_count,50572,10622
negative_users,"[14, 87, 180, 187, 196, 339, 468, 479, 486, 49...","[14, 39, 50, 72, 79, 141, 148, 149, 227, 265, ..."
negative_count,6299,6539
movie_id,862_tt0114709,8844_tt0113497
vote_average,7.971,7.239
vote_count,17152,9833
status,Released,Released
release_date,1995-10-30,1995-12-15
revenue,394400000,262821940
runtime,81,104
adult,False,False
budget,30000000,65000000
original_language,English,English
overview,"Led by Woody, Andy's toys live happily in his ...",When siblings Judy and Peter discover an encha...
poster_path,/uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg,/vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg
production_companies,Pixar,"TriStar Pictures, Interscope Communications, T..."
keywords,"rescue, friendship, mission, martial arts, jea...","giant insect, board game, disappearance, jungl..."

In [8]:
if final_data.isnull().sum().sum() == 0:
    print("No missing values in the final dataset.")
else:
    print("There are missing values in the final dataset.")
    final_data = final_data.dropna()
    print("After dropping missing values, new shape:", final_data.shape)

There are missing values in the final dataset.
After dropping missing values, new shape: (46018, 20)

In [9]:
# Convert movie_id back to TMDB ID as integer
final_data["tmdb_id"] = final_data["movie_id"].apply(lambda x: int(x.split("_")[0]))
final_data = final_data.drop(columns=["movie_id"])

Save Our Final Data

---

In [10]:
final_data.to_csv(SAVE_DATA_PATH, index=False)