In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
SAMPLE_DATA_PATH = "../../data/final/sample.csv"
FINAL_DATA_PATH = "../../data/final/final.csv"

In [3]:
N = 15000

In [4]:
data = pd.read_csv(FINAL_DATA_PATH)
print(data.head())

                         title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                              genres  \
0  ['adventure', 'animation', 'children', 'comedy...
1               ['adventure', 'children', 'fantasy']
2                              ['comedy', 'romance']
3                     ['comedy', 'drama', 'romance']
4                                         ['comedy']

                                      positive_users  positive_count  \
0  [1, 2, 7, 12, 24, 35, 42, 51, 54, 64, 72, 79, ...           50572
1  [9, 41, 51, 73, 82, 101, 117, 177, 207, 210, 2...           10622
2  [9, 41, 200, 314, 367, 473, 475, 540, 775, 940...            5152
3  [260, 934, 1760, 2051, 2077, 2721, 2722, 2957,...             781
4  [88, 196, 207, 214, 323, 385, 464, 473, 503, 5...            4407

                                      negative_users  negative_count  \
0  [14, 87, 180, 187, 196, 339, 468, 479, 486, 49...            6299
1  [14, 39, 50, 72, 79, 141, 148, 149, 227, 265, ...            6539
2  [73, 149, 190, 285, 477, 562, 677, 889, 974, 1...            3574
3  [347, 1677, 1980, 1997, 2334, 4305, 4730, 4733...            1025
4  [56, 149, 189, 198, 285, 388, 456, 562, 589, 6...            3864

   vote_average  vote_count    status release_date    revenue  runtime  adult  \
0         7.971       17152  Released   1995-10-30  394400000       81  False
1         7.239        9833  Released   1995-12-15  262821940      104  False
2         6.476         347  Released   1995-12-22   71500000      101  False
3         6.183         142  Released   1995-12-22   81452156      127  False
4         6.228         659  Released   1995-12-08   76594107      106  False

     budget original_language  \
0  30000000           English
1  65000000           English
2  25000000           English
3  16000000           English
4         0           English

                                            overview  \
0  Led by Woody, Andy's toys live happily in his ...
1  When siblings Judy and Peter discover an encha...
2  A family wedding reignites the ancient feud be...
3  Cheated on, mistreated and stepped on, the wom...
4  Just when George Banks has recovered from his ...

                        poster_path  \
0  /uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg
1  /vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg
2  /1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg
3  /4wjGMwPsdlvi025ZqR4rXnFDvBz.jpg
4  /rj4LBtwQ0uGrpBnCELr716Qo3mw.jpg

                                production_companies  \
0                                              Pixar
1  TriStar Pictures, Interscope Communications, T...
2              Lancaster Gate, Warner Bros. Pictures
3                                   20th Century Fox
4         Touchstone Pictures, Sandollar Productions

                                            keywords  tmdb_id
0  rescue, friendship, mission, martial arts, jea...      862
1  giant insect, board game, disappearance, jungl...     8844
2  fishing, sequel, old man, best friend, wedding...    15602
3  based on novel or book, interracial relationsh...    31357
4  daughter, baby, parent child relationship, mid...    11862

In [5]:
profitable_movies = data[data["revenue"] > data["budget"]]
print("Number of profitable movies:", profitable_movies.shape[0])
print("Percentage of profitable movies: {:.2f}%".format((profitable_movies.shape[0] / data.shape[0]) * 100))

print('\nSampling {} movies from profitable movies.'.format(N//3))
profitable_movies_sample = profitable_movies.sample(n=N//3, random_state=42)
print('Shape of profitable movies sample:', profitable_movies_sample.shape)

Number of profitable movies: 8647
Percentage of profitable movies: 18.79%

Sampling 5000 movies from profitable movies.
Shape of profitable movies sample: (5000, 20)

In [6]:
unprofitable_movies = data[data["budget"] > data["revenue"]]

print("Number of unprofitable movies:", unprofitable_movies.shape[0])
print(
    "Percentage of unprofitable movies: {:.2f}%".format(
        (unprofitable_movies.shape[0] / data.shape[0]) * 100
    )
)

# Optional: take a sample
unprofitable_movies_sample = unprofitable_movies.sample(n=N // 5, random_state=42)
print("Shape of unprofitable movies sample:", unprofitable_movies_sample.shape)

Number of unprofitable movies: 6234
Percentage of unprofitable movies: 13.55%
Shape of unprofitable movies sample: (3000, 20)

In [7]:
# Combine previous samples to exclude them
excluded_movie_ids = set(profitable_movies_sample["tmdb_id"]) | set(unprofitable_movies_sample["tmdb_id"])
# Filter remaining movies
remaining_movies = data[
    (~data["tmdb_id"].isin(excluded_movie_ids))  # not in previous samples
    & (data["vote_average"] > 6.5)  # vote_average > 6.5
]

# Sample 5000 movies
remaining_sample = remaining_movies.sample(n=N//3, random_state=42)
print("Shape of remaining sample:", remaining_sample.shape)

Shape of remaining sample: (5000, 20)

In [8]:
# Combine all previously sampled movie_ids
all_sampled_ids = (
    set(profitable_movies_sample["tmdb_id"])
    | set(unprofitable_movies_sample["tmdb_id"])
    | set(remaining_sample["tmdb_id"])
)

# Filter remaining movies with vote_average between 3 and 6
low_rating_movies = data[
    (~data["tmdb_id"].isin(all_sampled_ids))
    & (data["vote_average"] >= 3)
    & (data["vote_average"] < 6)
]

# Sample 2000 movies
low_rating_sample = low_rating_movies.sample(n=2000, random_state=42)

print("Shape of low rating sample:", low_rating_sample.shape)

Shape of low rating sample: (2000, 20)

In [9]:
# Concatenate all samples
final_sampled_data = pd.concat(
    [
        profitable_movies_sample,
        unprofitable_movies_sample,
        remaining_sample,
        low_rating_sample,
    ],
    ignore_index=True,
)
# Shuffle the dataframe
final_sampled_data = final_sampled_data.sample(frac=1, random_state=42).reset_index(
    drop=True
)

In [10]:
print("Shape of final sampled dataframe:", final_sampled_data.shape)
print(final_sampled_data.head())

Shape of final sampled dataframe: (15000, 20)
                                               title  \
0  Much Ado About Nothing: Shakespeare's Globe Th...
1                                       Piranhaconda
2                                       Edge of Fury
3                                   Bird of Paradise
4                        Critters 2: The Main Course

                              genres  \
0                ['comedy', 'drama']
1               ['horror', 'sci-fi']
2                       ['thriller']
3  ['adventure', 'drama', 'romance']
4     ['comedy', 'horror', 'sci-fi']

                                      positive_users  positive_count  \
0                                    [61947, 172263]               2
1                            [18184, 177617, 198781]               3
2                                                 []               0
3                                                 []               0
4  [1109, 1429, 6807, 36214, 48682, 49121, 52961,...              52

                                      negative_users  negative_count  \
0                                                 []               0
1  [49217, 62537, 68978, 71504, 78715, 80729, 814...              22
2                                           [189614]               1
3                            [37118, 189614, 289344]               3
4  [1511, 2242, 2364, 4605, 4880, 5773, 6416, 793...             274

   vote_average  vote_count    status release_date  revenue  runtime  adult  \
0         8.000           2  Released   2012-10-09        0      167  False
1         5.068         139  Released   2012-06-16        0       90  False
2         5.500           6  Released   1958-05-01        0       77  False
3         5.139          18  Released   1932-08-12   753000       80  False
4         5.957         370  Released   1988-04-29  3813293       86  False

    budget original_language  \
0        0           English
1  1000000           English
2        0           English
3        0           English
4  4500000           English

                                            overview  \
0  Much Ado About Nothing is a comedic play by Wi...
1  A hybrid creature - half piranha and half anac...
2  A psychopathic young beachcomber pretends to b...
3  When a young South Seas sailor falls overboard...
4  A batch of unhatched critter eggs are mistaken...

                        poster_path        production_companies  \
0  /jkzvbyBQNo4NrLYtmllz6TIryJY.jpg         Shakespeare's Globe
1  /oqgQghwDwyv4PzyaoMUnhgtiCjt.jpg        New Horizons Picture
2  /A0C3I8F6PRim9FmCytNfP1RLouk.jpg        Wisteria Productions
3  /n2vjVQ1Y3m0LBTm59bYm1NfclqW.jpg          RKO Radio Pictures
4  /5rR3dVJXnXskkBBWKbLg5EDKWtT.jpg  Sho Films, New Line Cinema

                                            keywords  tmdb_id
0                                       theater play   210695
1  ransom, hawaii, water monster, filmmaking, kil...   115084
2                                       summer house    35128
3             exotic island, volcano, love, pre-code    92341
4  spacecraft, small town, bounty hunter, hamburg...    10127

In [11]:
rows, cols = final_sampled_data.shape
print("Final sampled data has {} rows and {} columns.".format(rows, cols))

Final sampled data has 15000 rows and 20 columns.

In [12]:
final_sampled_data.to_csv(SAMPLE_DATA_PATH, index=False)