Importing Necessary Dependencies

---

In [1]:
import os
os.chdir("../..")  # go up from notebooks/ to project root

import pandas as pd  # noqa: E402
from utils.langauge_code import get_language_name  # noqa: E402

In [2]:
SAVE_DATA_PATH = "./data/processed/preprocessed_tmdb_data.csv"

Loading our data

---

In [3]:
BASE_DATA_PATH = "./data/raw/"
TMDB_DATA_PATH = BASE_DATA_PATH + "tmdb-data.csv"

In [4]:
data = pd.read_csv(TMDB_DATA_PATH)
print(data.head())

       id            title  vote_average  vote_count    status release_date  \
0   27205        Inception         8.364       34495  Released   2010-07-15
1  157336     Interstellar         8.417       32571  Released   2014-11-05
2     155  The Dark Knight         8.512       30619  Released   2008-07-16
3   19995           Avatar         7.573       29815  Released   2009-12-15
4   24428     The Avengers         7.710       29166  Released   2012-04-25

      revenue  runtime  adult                     backdrop_path  ...  \
0   825532764      148  False  /8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg  ...
1   701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
2  1004558444      152  False  /nMKdUUepR0i5zn0y1T4CsSB5chy.jpg  ...
3  2923706026      162  False  /vL5LR6WdxWPjLPFRLe133jXWsh5.jpg  ...
4  1518815515      143  False  /9BBTo63ANSmhC4e6r62OJFuK2GL.jpg  ...

    original_title                                           overview  \
0        Inception  Cobb, a skilled thief who commits corporate es...
1     Interstellar  The adventures of a group of explorers who mak...
2  The Dark Knight  Batman raises the stakes in his war on crime. ...
3           Avatar  In the 22nd century, a paraplegic Marine is di...
4     The Avengers  When an unexpected enemy emerges and threatens...

  popularity                       poster_path  \
0     83.952  /oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg
1    140.241  /gEU2QniE6E77NI6lCU6MxlNBvIx.jpg
2    130.643  /qJ2tW6WMUDux911r6m7haRef0WH.jpg
3     79.932  /kyeqWdyUXW608qlYkRqosgbbJyK.jpg
4     98.082   /RYMX2wcKCBAr24UyPD7xwmjaTn.jpg

                                             tagline  \
0               Your mind is the scene of the crime.
1  Mankind was born on Earth. It was never meant ...
2                  Welcome to a world without rules.
3                        Enter the world of Pandora.
4                            Some assembly required.

                                        genres  \
0           Action, Science Fiction, Adventure
1            Adventure, Drama, Science Fiction
2               Drama, Action, Crime, Thriller
3  Action, Adventure, Fantasy, Science Fiction
4           Science Fiction, Action, Adventure

                                production_companies  \
0  Legendary Pictures, Syncopy, Warner Bros. Pict...
1  Legendary Pictures, Syncopy, Lynda Obst Produc...
2  DC Comics, Legendary Pictures, Syncopy, Isobel...
3  Dune Entertainment, Lightstorm Entertainment, ...
4                                     Marvel Studios

                       production_countries  \
0  United Kingdom, United States of America
1  United Kingdom, United States of America
2  United Kingdom, United States of America
3  United States of America, United Kingdom
4                  United States of America

                     spoken_languages  \
0  English, French, Japanese, Swahili
1                             English
2                   English, Mandarin
3                    English, Spanish
4             English, Hindi, Russian

                                            keywords
0  rescue, mission, dream, airplane, paris, franc...
1  rescue, future, spacecraft, race against time,...
2  joker, sadism, chaos, secret identity, crime f...
3  future, society, culture clash, space travel, ...
4  new york city, superhero, shield, based on com...

[5 rows x 24 columns]

Analysis

---

In [5]:
data.sample(n=1).T

                                                                 150444
id                                                               926245
title                                                      Full dekning
vote_average                                                      7.667
vote_count                                                            3
status                                                         Released
release_date                                                 2022-02-25
revenue                                                               0
runtime                                                             102
adult                                                             False
backdrop_path                          /Ak8IcmAXdMVmWTTw7tFN2adOvr1.jpg
budget                                                          1743711
homepage                                                            NaN
imdb_id                                                      tt14942362
original_language                                                    no
original_title                                             Full dekning
overview              Seven long-time friends meet for dinner. They ...
popularity                                                        1.416
poster_path                            /m15Lpu7ZtKUEs1Ne6sj0G231Amc.jpg
tagline                                       Everything’s on the table
genres                                                           Comedy
production_companies                                        Storm Films
production_countries                                             Norway
spoken_languages                                              Norwegian
keywords              jealousy, love affair, childhood friends, soci...

In [6]:
rows, cols = data.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {cols}")

Number of rows: 1269226
Number of columns: 24

In [7]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 1269226 entries, 0 to 1269225
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1269226 non-null  int64
 1   title                 1269213 non-null  str
 2   vote_average          1269226 non-null  float64
 3   vote_count            1269226 non-null  int64
 4   status                1269226 non-null  str
 5   release_date          1023988 non-null  str
 6   revenue               1269226 non-null  int64
 7   runtime               1269226 non-null  int64
 8   adult                 1269226 non-null  bool
 9   backdrop_path         326879 non-null   str
 10  budget                1269226 non-null  int64
 11  homepage              132450 non-null   str
 12  imdb_id               634125 non-null   str
 13  original_language     1269226 non-null  str
 14  original_title        1269213 non-null  str
 15  overview              993031 non-null   str
 16  popularity            1269226 non-null  float64
 17  poster_path           843696 non-null   str
 18  tagline               177555 non-null   str
 19  genres                734541 non-null   str
 20  production_companies  557098 non-null   str
 21  production_countries  679126 non-null   str
 22  spoken_languages      702425 non-null   str
 23  keywords              328097 non-null   str
dtypes: bool(1), float64(2), int64(5), str(16)
memory usage: 223.9 MB

In [8]:
null_count = data.isnull().sum()
null_percentage = data.isnull().mean() * 100
null_summary = pd.DataFrame(
    {"Null Count": null_count, "Null Percentage (%)": null_percentage}
).sort_values(by="Null Percentage (%)", ascending=False)
null_summary

                      Null Count  Null Percentage (%)
homepage                 1136776            89.564506
tagline                  1091671            86.010766
backdrop_path             942347            74.245800
keywords                  941129            74.149836
production_companies      712128            56.107265
imdb_id                   635101            50.038449
production_countries      590100            46.492902
spoken_languages          566801            44.657216
genres                    534685            42.126855
poster_path               425530            33.526732
overview                  276195            21.760900
release_date              245238            19.321854
title                         13             0.001024
original_title                13             0.001024
id                             0             0.000000
vote_average                   0             0.000000
runtime                        0             0.000000
revenue                        0             0.000000
status                         0             0.000000
vote_count                     0             0.000000
original_language              0             0.000000
budget                         0             0.000000
adult                          0             0.000000
popularity                     0             0.000000

Feature Selection

---

In [9]:
data.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='str')

In [10]:
drop_cols = [
    "homepage",
    "backdrop_path",
    "spoken_languages",
    "tagline",
    "genres",
    "production_countries",
]

data = data.drop(columns=drop_cols)
print(data.head())

       id            title  vote_average  vote_count    status release_date  \
0   27205        Inception         8.364       34495  Released   2010-07-15
1  157336     Interstellar         8.417       32571  Released   2014-11-05
2     155  The Dark Knight         8.512       30619  Released   2008-07-16
3   19995           Avatar         7.573       29815  Released   2009-12-15
4   24428     The Avengers         7.710       29166  Released   2012-04-25

      revenue  runtime  adult     budget    imdb_id original_language  \
0   825532764      148  False  160000000  tt1375666                en
1   701729206      169  False  165000000  tt0816692                en
2  1004558444      152  False  185000000  tt0468569                en
3  2923706026      162  False  237000000  tt0499549                en
4  1518815515      143  False  220000000  tt0848228                en

    original_title                                           overview  \
0        Inception  Cobb, a skilled thief who commits corporate es...
1     Interstellar  The adventures of a group of explorers who mak...
2  The Dark Knight  Batman raises the stakes in his war on crime. ...
3           Avatar  In the 22nd century, a paraplegic Marine is di...
4     The Avengers  When an unexpected enemy emerges and threatens...

   popularity                       poster_path  \
0      83.952  /oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg
1     140.241  /gEU2QniE6E77NI6lCU6MxlNBvIx.jpg
2     130.643  /qJ2tW6WMUDux911r6m7haRef0WH.jpg
3      79.932  /kyeqWdyUXW608qlYkRqosgbbJyK.jpg
4      98.082   /RYMX2wcKCBAr24UyPD7xwmjaTn.jpg

                                production_companies  \
0  Legendary Pictures, Syncopy, Warner Bros. Pict...
1  Legendary Pictures, Syncopy, Lynda Obst Produc...
2  DC Comics, Legendary Pictures, Syncopy, Isobel...
3  Dune Entertainment, Lightstorm Entertainment, ...
4                                     Marvel Studios

                                            keywords
0  rescue, mission, dream, airplane, paris, franc...
1  rescue, future, spacecraft, race against time,...
2  joker, sadism, chaos, secret identity, crime f...
3  future, society, culture clash, space travel, ...
4  new york city, superhero, shield, based on com...

Data Cleaning

---

In [11]:
data.dropna(inplace=True)
data.reset_index(drop=True, inplace=True)

rows, cols = data.shape
print("After dropping missing values:")
print(f"Number of rows: {rows}")
print(f"Number of columns: {cols}")

After dropping missing values:
Number of rows: 141430
Number of columns: 18

In [12]:
if data.duplicated().sum() == 0:
    print("No duplicate rows found.")
else:
    print(f"Duplicate rows found : {data.duplicated().sum()}")
    data.drop_duplicates(inplace=True)
    data.reset_index(drop=True, inplace=True)
    print("Duplicate rows removed.")

Duplicate rows found : 4
Duplicate rows removed.

In [13]:
rows, cols = data.shape
print("After removing duplicates:")
print(f"Number of rows: {rows}")
print(f"Number of columns: {cols}")

After removing duplicates:
Number of rows: 141426
Number of columns: 18

Data Transformation

---

In [14]:
print(data.head())

       id            title  vote_average  vote_count    status release_date  \
0   27205        Inception         8.364       34495  Released   2010-07-15
1  157336     Interstellar         8.417       32571  Released   2014-11-05
2     155  The Dark Knight         8.512       30619  Released   2008-07-16
3   19995           Avatar         7.573       29815  Released   2009-12-15
4   24428     The Avengers         7.710       29166  Released   2012-04-25

      revenue  runtime  adult     budget    imdb_id original_language  \
0   825532764      148  False  160000000  tt1375666                en
1   701729206      169  False  165000000  tt0816692                en
2  1004558444      152  False  185000000  tt0468569                en
3  2923706026      162  False  237000000  tt0499549                en
4  1518815515      143  False  220000000  tt0848228                en

    original_title                                           overview  \
0        Inception  Cobb, a skilled thief who commits corporate es...
1     Interstellar  The adventures of a group of explorers who mak...
2  The Dark Knight  Batman raises the stakes in his war on crime. ...
3           Avatar  In the 22nd century, a paraplegic Marine is di...
4     The Avengers  When an unexpected enemy emerges and threatens...

   popularity                       poster_path  \
0      83.952  /oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg
1     140.241  /gEU2QniE6E77NI6lCU6MxlNBvIx.jpg
2     130.643  /qJ2tW6WMUDux911r6m7haRef0WH.jpg
3      79.932  /kyeqWdyUXW608qlYkRqosgbbJyK.jpg
4      98.082   /RYMX2wcKCBAr24UyPD7xwmjaTn.jpg

                                production_companies  \
0  Legendary Pictures, Syncopy, Warner Bros. Pict...
1  Legendary Pictures, Syncopy, Lynda Obst Produc...
2  DC Comics, Legendary Pictures, Syncopy, Isobel...
3  Dune Entertainment, Lightstorm Entertainment, ...
4                                     Marvel Studios

                                            keywords
0  rescue, mission, dream, airplane, paris, franc...
1  rescue, future, spacecraft, race against time,...
2  joker, sadism, chaos, secret identity, crime f...
3  future, society, culture clash, space travel, ...
4  new york city, superhero, shield, based on com...

In [15]:
# Convert 'id' to string before concatenation
data["movie_id"] = data["id"].astype(str) + "_" + data["imdb_id"]
data["original_language"] = data["original_language"].apply(get_language_name)
# Drop the original columns if needed
data = data.drop(columns=["id", "imdb_id"])
print(data.head())

             title  vote_average  vote_count    status release_date  \
0        Inception         8.364       34495  Released   2010-07-15
1     Interstellar         8.417       32571  Released   2014-11-05
2  The Dark Knight         8.512       30619  Released   2008-07-16
3           Avatar         7.573       29815  Released   2009-12-15
4     The Avengers         7.710       29166  Released   2012-04-25

      revenue  runtime  adult     budget original_language   original_title  \
0   825532764      148  False  160000000           English        Inception
1   701729206      169  False  165000000           English     Interstellar
2  1004558444      152  False  185000000           English  The Dark Knight
3  2923706026      162  False  237000000           English           Avatar
4  1518815515      143  False  220000000           English     The Avengers

                                            overview  popularity  \
0  Cobb, a skilled thief who commits corporate es...      83.952
1  The adventures of a group of explorers who mak...     140.241
2  Batman raises the stakes in his war on crime. ...     130.643
3  In the 22nd century, a paraplegic Marine is di...      79.932
4  When an unexpected enemy emerges and threatens...      98.082

                        poster_path  \
0  /oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg
1  /gEU2QniE6E77NI6lCU6MxlNBvIx.jpg
2  /qJ2tW6WMUDux911r6m7haRef0WH.jpg
3  /kyeqWdyUXW608qlYkRqosgbbJyK.jpg
4   /RYMX2wcKCBAr24UyPD7xwmjaTn.jpg

                                production_companies  \
0  Legendary Pictures, Syncopy, Warner Bros. Pict...
1  Legendary Pictures, Syncopy, Lynda Obst Produc...
2  DC Comics, Legendary Pictures, Syncopy, Isobel...
3  Dune Entertainment, Lightstorm Entertainment, ...
4                                     Marvel Studios

                                            keywords          movie_id
0  rescue, mission, dream, airplane, paris, franc...   27205_tt1375666
1  rescue, future, spacecraft, race against time,...  157336_tt0816692
2  joker, sadism, chaos, secret identity, crime f...     155_tt0468569
3  future, society, culture clash, space travel, ...   19995_tt0499549
4  new york city, superhero, shield, based on com...   24428_tt0848228

Save the preprocessed data

---

In [16]:
data.to_csv(SAVE_DATA_PATH, index=False)